.codice {
    position: absolute;
    right: 28px;
}

.br-radius {
    border-radius: 10px;
}

.w-12 {
    width: 12%;
}

.w-60 {
    width: 60%;
}

.w-28 {
    width: 28%;
}

.form-check-input:checked,
.ng-dropdown-panel input[type=checkbox]:checked {
    background-color: #05A34A !important;
    border-color: #05A34A !important;
}

::ng-deep .steps-indicator {
    margin-bottom: 15px !important;
}

// /Product Detail CSS/ 
.font-32 {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #000;
}

.height {
    height: 100vh;
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #4763e4;
    border-radius: 10px;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid #00f;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: #00f;
}

.btn-purple {
    background: #4763e4;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border: unset;
    color: #fff;
    padding: 12px 40px;
    border: 1px solid #4763e4 !important;
}

.btn-greye {
    border: 1px solid grey !important;
    background: #fff;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border: unset;
    color: gray;
    padding: 12px 40px;
}

.nav-tabs .nav-link {
    color: #a1a1aa;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 70px;
}

.nav-tabs .nav-link.active {
    border-bottom: 3px solid #4763e4;
    color: #4763e4;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

:root {
    --primary-color: #02044a;
    --secondery-color: #25cc88;
    --shadow-color: #9d9fb3;
}

.form__container {
    margin-top: 4rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 1rem;
}

.title__container {
    width: 100%;
    height: 4.5rem;
    padding: 0.6rem 1.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #42434e;
}

.title__container h1 {
    letter-spacing: 2px;
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 0.4rem;
}

.title__container p {
    color: var(--shadow-color);
    font-size: 0.75rem;
}

.body__container {
    display: flex;
}

.left__container {
    width: 100%;
    display: flex;
    padding: 1.25rem 0;
    margin-right: 2rem;
    padding-right: 1.8rem;
}

.side__titles {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title__name {
    padding: 15px 3.1rem;
    margin-bottom: 0.25rem;
}

.title__name h3 {
    margin-bottom: 0.2rem;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #000;
}

.para-d {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #000;
    margin: 0;
}

.progress__bar__container {
    padding-top: 0.6rem;
}

.progress__bar__container ul .active {
    background: #ebebeb;
    color: #4b5563;
    height: 60px;
    width: 60px;
}

.hydrated {
    height: 25px;
}

.progress__bar__container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: var(--shadow-color);
    padding: 10px;
    margin-bottom: 160px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    margin-left: 2rem;
}

.public-green {
    font-weight: 700;
    font-size: 30px;
    line-height: 54px;
    color: #1b1f1c;
}

.public-flex {
    display: flex;
    margin: auto;
    justify-content: center;
}

.progress__bar__container ul li::before {
    content: "";
    width: 1px;
    height: 11vh;
    position: absolute;
    background-color: var(--shadow-color);
}

.progress__bar__container ul .active::before {
    content: "";
    width: 6px;
    height: 200px;
    position: absolute;
    top: 45px;
    background-color: #ebebeb;
    // z-index: -1;
}

.active__form {
    display: none;
}

.input__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
}

.input__container input {
    padding: 0.5rem;
    font-size: 1.4rem;
    border-radius: 0.75rem;
    background: 0 0;
    border: 1px solid var(--secondery-color);
    margin-bottom: 1.2rem;
    outline: 0;
    color: #fff;
}

.slef-table {
    color: #a1a1aa;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 30px;
}

.slef-table-data {
    color: #27272a;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 30px;
}

@media (max-width: 768px) {
    .public-green {
        font-size: 15px;
    }

    .img-public {
        height: 20px;
        width: 20px;
    }

    .title__name h3 {
        font-size: 20px;
    }

    .para-d {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
    }

    .progress__bar__container ul li {
        margin-left: 0 !important;
    }

    .sm-media {
        padding: 0 !important;
    }

    .padding-sm {
        padding: 0;
    }

    .title__name {
        padding: 15px 10px;
    }

    .nav-tabs .nav-link {
        padding: 10px 25px;
    }

    .font-32 {
        font-size: 20px;
    }

    .search input {
        height: 45px;
    }

    .search .fa-search {
        top: 14px;
    }

    .btn-purple {
        font-size: 15px;
        padding: 10px 23px;
    }

    .btn-greye {
        font-size: 15px;
        padding: 9px 28px;
    }

    .progress__bar__container ul .active {
        height: 50px;
        width: 50px;
    }

    .public-flex {
        justify-content: unset;
    }

    .public-green {
        line-height: 25px;
    }
}

::ng-deep .border,
.dropzone,
quill-editor .ql-container,
quill-editor .ql-toolbar .ql-formats .ql-picker-options,
quill-editor .ql-toolbar,
tag-input .ng2-tag-input,
ngb-datepicker {
    border: 0px solid #e9ecef !important;
}

::ng-deep .nav-tabs {
    border-bottom: 0px solid #dee2e6 !important;
}

::ng-deep .nav.nav-tabs .nav-item .nav-link.active {
    background: unset !important;
    color: #4763E4 !important;
    border: unset;
    border-color: unset !important;
    border-bottom: 3px solid #4763E4 !important;
}

::ng-deep .nav.nav-tabs .nav-item .nav-link {
    background: unset !important;
    color: #71717A !important;
    border: unset;
    border-color: unset !important;
    border-bottom: 2px solid #E4E4E7 !important;
    padding: 10px 50px !important;
}

.border-color {
    border-color: #B3E5D2 !important;
}

.bg-lightgreen {
    background-color: #B3E5D2 !important;
}