.dot {
    height: 40px;
    width: 40px;
    background-color: #6565CF;
    border-radius: 50%;
    display: inline-block;
    color: white;
    font-size: 25px;
}

.dot-65 {
    height: 65px;
    width: 65px;
    background-color: #6565CF;
    border-radius: 50%;
    display: inline-block;
    color: white;
    font-size: 45px;
}

.mt-3px {
    margin-top: 3px !important;
}