:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .border,
.dropzone,
quill-editor .ql-container,
quill-editor .ql-toolbar .ql-formats .ql-picker-options,
quill-editor .ql-toolbar,
tag-input .ng2-tag-input,
ngb-datepicker {
  border: 0px solid #e9ecef !important;
}

::ng-deep .nav-tabs {
  border-bottom: 0px solid #dee2e6 !important;
}

::ng-deep .nav.nav-tabs .nav-item .nav-link.active {
  background: unset !important;
  color: #4763E4 !important;
  border: unset;
  border-color: unset !important;
  border-bottom: 3px solid #4763E4 !important;
}

::ng-deep .nav.nav-tabs .nav-item .nav-link {
  background: unset !important;
  color: #71717A !important;
  border: unset;
  border-color: unset !important;
  border-bottom: 2px solid #E4E4E7 !important;
  padding: 10px 50px !important;
}