<footer
  class="footer flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
  <p class=""><img src="assets/images/logo-footer.jpg" width="100%"></p><br>
  <p class="text-muted mb-1 mb-md-0">Il progetto SMART MED BOX è stato realizzato con il contributo dell’Unione Europea, nell’ambito del Programma Regionale FESR Lombardia 2021–2027, Asse 1 – Un’Europa più competitiva e intelligente, attraverso il Bando “Rafforza & Innova” – Azione 1.1.2, volto a favorire il trasferimento tecnologico tra PMI e Organismi di Ricerca. Il progetto è stato ammesso all’agevolazione con Contributo in conto capitale pari a € 30.000,00, come riportato nell’Atto di Ammissione – 5° provvedimento.</p>
  <!-- <p class="text-muted">Handcrafted With <i class="feather icon-heart mb-1 text-primary ms-1 icon-sm"></i></p> -->
</footer>