<div class="row w-100 mx-0 auth-page">
    <div class="col-md-12 col-xl-6 mx-auto">
        <div class="card">
            <div class="row">

                <div class="col-md-8 ps-md-0 offset-md-2">
                    <div class="auth-form-wrapper px-4 py-5">
                        <a class="nobleui-logo d-block mb-2 text-center"><span>SmartMedBox</span></a>
                        <h5 class="text-muted fw-normal mb-4 text-center"><b>Forgot your password? <br> No problem, get a new password.</b></h5>
                        <div class="row">
                            <div class="col-md-10 offset-md-1">

                                <form class="forms-sample" [formGroup]="forgotPassForm">
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email</label>
                                        <input type="email" formControlName="email" class="form-control"
                                            id="exampleInputEmail1" placeholder="johndoe@gmail.com"
                                            [ngClass]="{ 'custom-error': submitted && f.email.errors }">
                                        <span *ngIf="(!submitted && isValid('email')) || (submitted && f.email.errors?.required)" class="validation-error">
                                            Please enter your e-mail address.
                                        </span>
                                    </div>
                                    <div class="mb-1">
                                        <button type="submit" class="btn btn-outline-primary w-100"
                                            (click)="onForgotPass($event)">Submit</button>
                                    </div>
                                    <div class="text-center">
                                        <a routerLink="/auth/login" class=" text-primary"> <i
                                                class="mdi mdi-arrow-left"></i>
                                            Return to login</a>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>